<table class="table table-striped"> <tr> <th> name  <th> color  <th>  <tr ng-repeat="sheep in sheeps"> <td> {{sheep.name}}  <td> {{sheep.color}}  <td> <button class="btn btn-success" ng-click="action.cut(sheep.id)">Cut</button>   </table>