<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">SheepShearer</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li data-ng-class="{'active': isDebug()}" style="cursor: pointer;">
            <a ng-click="toggleDebug()">&nbsp;</a>
          </li>
          <!--<li class="active"><a href="#/">Главная</a></li>-->
          <li><a ng-href="#/user">Пользователи</a></li>
          <li><a ng-href="#/sheep">Стричь</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/profile">Профиль</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<style data-ng-if="isDebug()">
  .debug {
    display: block;
  }
</style>
