<table class="table table-striped" ng-show="sheeps.length">
  <tr>
    <th>
      Имя
    </th>
    <th>
      Цвет
    </th>
    <th>
      Хозяин
    </th>
    <th>
      Время последней стрижки
    </th>
    <th>
      Следующая стрижка
    </th>
    <th class="text-center">
      Действие
    </th>
  </tr>
  <tr ng-repeat="sheep in sheeps">
    <td>
      {{sheep.name}}
    </td>
    <td>
      {{sheep.color}}
    </td>
    <td>
      <a ng-href="#/user/{{sheep.owner.id}}"> {{sheep.owner.fullname}}</a>
    </td>
    <td>
      {{sheep.haircutDate | date:"MM/dd/yyyy 'в' H:mm"}}
    </td>
    <td>
      {{sheep.nextHaircut | date:"MM/dd/yyyy 'в' H:mm"}}
    </td>
    <td class="text-center">
      <button class="btn btn-success" ng-click="server.action.cut(sheep.id)">Стричь</button>
    </td>
  </tr>
</table>
