<h2>Пользователи</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>
      Аватарка
    </th>
    <th>
      Имя
    </th>
    <th>
      Количество овец
    </th>
    <th>
      Очки
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="user in users">
    <td>
      <img ng-src="{{user.avatar}}">
    </td>
    <td>
      <a ng-href="#/user/{{user.id}}"> {{user.fullname}}</a>
    </td>
    <td>
      {{user.sheep.length}}
    </td>
    <td>
      {{user.score || 0}}
    </td>
  </tr>
  </tbody>
</table>
