<div class="well debug">
  <button class="btn btn-default" ng-click="user.login()">войти</button>
  {{user.data}}

</div>

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <img class="img-thumbnail avatar"
           ng-src="{{user.data.avatar || 'http://thesocietypages.org/socimages/files/2009/05/vimeo.jpg'}}">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">{{user.data.fullname}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Очки: {{user.data.score || 0}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12" ng-include="'views/_sheep_table.html'">
  </div>
</div>
